<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Details</title>


    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/responsivetypography.css">
    <link rel="stylesheet" href="/stylesheets/customizeStyle.css">

    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>

    <script src="/javascripts/consumerUserDetailsJS.js"></script>


</head>
<body class="customize-body">
<%- include header.ejs -%>

<div class="container-fluid">
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1 class="display-4 text-break"><%=user.name %></h1>
        <h2>
            <small class="text-success">Overall Rating:</small>
            <%
            var overallRating = 0;
            var countReview = 0;
            var averageScore = 0;
            if(reviews){
                reviews.forEach(function(review){
                    countReview++;
                    overallRating+=review.score;
                });
                <!-- if there exists review for this company -->
                if(countReview!=0){
                    averageScore=overallRating/countReview;
                    averageScore=averageScore.toString();
                    if (averageScore.length > 2)
                        averageScore=averageScore.substring(0, 3);
            %>
                <%=averageScore %>
            <%
            <!-- if there is not any review for this company -->
                } else {
            %>
                0
            <%
                }
            }
            %>
        </h2>
        <hr class="my-4">
    </div>
    <ul class="nav nav-pills nav-justified">
        <!--tab of reviews, visible for both kind of user-->
        <li class="nav-item" id="userReviewsTab">
            <a class="nav-link active" data-toggle="pill" href="#userReviews">Received Reviews</a>
        </li>
        <%
            if(user.personOrComp == 'p'){
        %>
            <li class="nav-item" id="userCvsTab">
                <a class="nav-link" data-toggle="pill" href="#userCv">CV Management</a>
            </li>
        <%
            } else if(user.personOrComp == 'c'){
        %>
            <li class="nav-item" id="userJobsTab">
                <a class="nav-link" data-toggle="pill" href="#userJobs">Job Management</a>
            </li>
        <%
            }
        %>        
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!--reviews, visible for both kind of users-->
        <div id="userReviews" class="container tab-pane active">
        <%
            if(reviews.length == 0){
        %>
            <div class="jumbotron jumbotron-fluid mt-2">
                <div class="container text-center">
                    <h1 class="display-4">No Review!</h1>
                </div>
            </div>
        <%
            }else{
                reviews.forEach(function(review){
        %>
            <div class="card mt-2 mb-2">
                <h5 class="card-header">
                    <%=review.title %>
                    <p class="font-weight-lighter font-italic"><%=review.publisherName %></p>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">
                        <small>Rating:</small>
                        <%=review.score %>
                    </h5>
                    <p class="card-text"><%=review.comment %></p>
                    <img src="<%=review.pictureUrl %>" class="img-thumbnail">
                </div>
            </div>
        <%
                })
            }
        %>
        </div>

        <%
            if(user.personOrComp == 'p'){
        %>
            <div id="userCv" class="container tab-pane fade">
                <!--fanhua no job provided notification-->
                <div class="jumbotron jumbotron-fluid mt-2">
                    <div class="container">
                        <form id="consumerCvManagement">
                            <div class="form-group">
                                <label for="achievement">Achievement</label>
                                <textarea class="form-control" id="achievement" name="achievement" rows="3"><%if(cv != null){%> <%=cv.achievement %> <%}%></textarea>
                            </div>
                            <div class="form-group">
                                <label for="education">Education</label>
                                <textarea class="form-control" id="education" name="education" rows="3"><%if(cv != null){%> <%=cv.education %> <%}%></textarea>
                            </div>
                            <div class="form-group">
                                <label for="workExperience">Work Experience</label>
                                <textarea class="form-control" id="workExperience" name="workExperience" rows="3"><%if(cv != null){%> <%=cv.workExperience %> <%}%></textarea>
                            </div>
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <%
            } else if(user.personOrComp == 'c'){
                if(jobs.length == 0){
        %>
            <div id="userJobs" class="container tab-pane fade">
                <!--fanhua no job provided notification-->
                <div class="jumbotron jumbotron-fluid mt-2">
                    <div class="container text-center">
                        <h1 class="display-4">No Job Provided!</h1>
                    </div>
                </div>
        <%
                } else {
        %>
            <div id="userJobs" class="container tab-pane fade">
        <%
                    jobs.forEach(function(job){
        %>
           
                <div class="card mt-2 mb-2" id="jobResults">
                    <h5 class="card-header"><a href="/jobDetails?jobId=<%=job.id %>"><%=job.title %></a></h5>
                    <div class="card-body">
                        <p class="card-text">City:
                            <%=job.city %>
                        </p>
                        <p class="card-text">Salary: £ <%=job.salary %>/month</p>
                        <p class="card-text">Post Time:
                            <%=job.postDate %>
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="/consumerUserDetails?operation=deleteJob&jobId=<%=job.id %>" class="btn btn-primary">DELETE</a>
                    </div>
                </div>
        <%
                    })
             }
        %>                
            </div>
        <%
            }
        %>
    </div>
</div>
</body>
</html>