<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Hunt</title>

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/responsivetypography.css">

    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
</head>
<body class="customize-body">
<%- include header.ejs -%>
<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            <!--            cv owner's name here-->
            <%
            if(owner){
            %>
                <a href="/personDetails?operation=otherPersonDetails&ownerId=<%=owner.id%>"><h1><%=owner.name %></h1></a>
                <p class="font-weight-lighter font-italic"><%=owner.email %></p>
            <%
            } 
            %>
           
        </div>
        <div class="card-body">
            <%
                if(cv){
            %>
                <!--            job title-->
                <h3 class="card-title"><%=cv.title %></h3>
                <!--            salary-->
                <h6 class="card-text">£<%=cv.salary %> /Month</h6>
                <!--            job type here-->
                <h6 class="card-text"><%=cv.jobType %></h6>
                <!--            postal code and city-->
                <h6 class="card-text"><%=cv.postcode %>, <%=cv.city %></h6>
                <hr>
                <label for="achievement"><b>Achievement</b></label>
                <p class="card-text" id="achievement">
                    <%=cv.achievement %>
                </p>
                <label for="education"><b>Education</b></label>
                <p class="card-text" id="education">
                    <%=cv.education %>
                </p>
                <label for="workExperience"><b>Work Experience</b></label>
                <p class="card-text" id="workExperience">
                    <%=cv.workExperience %>
                </p>
                <!--            description here-->
                <img src="<%=cv.profileUrl %>" class="img-thumbnail">
                <hr>
                <!--            post time -->
                <h6 class="card-text"><%=cv.postDate %></h6>
            <%
                }
            %>

        </div>
    </div>
</div>
</body>
</html>