<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Hunt</title>

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/responsivetypography.css">

    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>

    <script src="/javascripts/jobDetailsJS.js"></script>

</head>
<body class="customize-body">
<!--send CV Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Curriculum Vitae</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="consumerCv">
                    <input type="hidden" name="companyName" value="<%=job.companyName %>">
                    <input type="hidden" name="jobTitle" value="<%=job.title %>">
                    <input type="hidden" name="jobId" value="<%=job.id %>">
                    <div class="form-group">
                        <label for="achievement">Achievement</label>
                        <textarea class="form-control" name="achievement" rows="3">
                            <% if(cv){ %>
                                <%=cv.achievement%>
                            <% } %>
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="education">Education</label>
                        <textarea class="form-control" name="education" rows="3">
                            <% if(cv){ %>
                            <%=cv.education%>
                            <% } %>
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="workExperience">Work Experience</label>
                        <textarea class="form-control" name="workExperience" rows="3">
                            <% if(cv){ %>
                            <%=cv.workExperience%>
                            <% } %>
                        </textarea>
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary btn-block">SEND
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include header.ejs -%>
<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            <!--            company name here-->
            <a href="/companyDetails?companyName=<%= job.companyName %>"><h1><%=job.companyName %></h1></a>
            <p class="font-weight-lighter font-italic"><%=job.companyEmail %></p>
        </div>
        <div class="card-body">
            <!--            job title-->
            <h3 class="card-title"><%=job.title %></h3>
            <!--            salary:$4000/month-->
            <h6 class="card-text"><%=job.salary %></h6>
            <!--            job type here-->
            <h6 class="card-text"><%=job.jobType %></h6>
            <!--            postal code and city-->
            <h6 class="card-text"><%=job.postcode %>,<%=job.city %></h6>
            <hr>
            <!--            description here-->
            <p class="card-text">
                <%=job.description %>
            </p>
            <img src="<%=job.picture %>" class="img-thumbnail">
                <hr>
            <!--            post time -->
            <h6 class="card-text"><%=job.postDate %></h6>
        </div>
<!--        hidden for unlogined user and company user-->

        <%
        if(user){
            if(user.personOrComp == 'p'){
        %>
            <div class="card-footer text-muted text-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#applyModal">
            APPLY
            </button>
            </div>
        <%
            }
        }
        %>

    </div>
</div>
</body>
</html>