<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/responsivetypography.css">
    <link rel="stylesheet" href="/stylesheets/customizeStyle.css">

    <script src="/javascripts/jquery-3.4.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
</head>
<body class="customize-body">
<%- include header.ejs -%>
<div class="container" style="margin-top:30px">
    <div class="row">
        <!--filter-->
        <div class="col-sm-4">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Filter</h1>
                    <form action="" id="secondarySearch">
                        <!--secondary search bar-->
                        <div class="form-group">
                            <label for="keyword">Keywords</label>
                            <input type="text" class="form-control" name="keyword"
                                   placeholder="job title, company name, job type" value="Amazon">
                        </div>
                        <div class="accordion" id="secondarySearch">
                            <!--salary-->
                            <div class="card">
                                <div class="card-header" id="salaryCollapse">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseSalary" aria-expanded="true"
                                                aria-controls="collapseSalary">
                                            Salary
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseSalary" class="collapse" aria-labelledby="salaryCollapse">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="salary3000More"
                                                   name="salary3000More">
                                            <label class="custom-control-label" for="salary3000More">£3000+</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="salary2000To3000"
                                                   name="salary2000To0000">
                                            <label class="custom-control-label"
                                                   for="salary2000To3000">£2000-£3000</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="salary1000To2000"
                                                   name="salary1000To2000">
                                            <label class="custom-control-label"
                                                   for="salary1000To2000">£1000-£2000</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="salary0To1000"
                                                   name="salary0To1000">
                                            <label class="custom-control-label" for="salary0To1000">£0-£1000</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--industry-->
                            <div class="card">
                                <div class="card-header" id="industryCollapse">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseIndustry" aria-expanded="false"
                                                aria-controls="collapseIndustry">
                                            Industry
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseIndustry" class="collapse" aria-labelledby="industryCollapse">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="industryEducation"
                                                   name="industryEducation">
                                            <label class="custom-control-label"
                                                   for="industryEducation">Education</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="industryIt"
                                                   name="industryIt">
                                            <label class="custom-control-label"
                                                   for="industryIt">IT</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="industryAccounting"
                                                   name="industryAccounting">
                                            <label class="custom-control-label"
                                                   for="industryAccounting">Accounting</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="industryEnergy"
                                                   name="industryEnergy">
                                            <label class="custom-control-label"
                                                   for="industryEnergy">Energy</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="industryAgriculture"
                                                   name="industryAgriculture">
                                            <label class="custom-control-label"
                                                   for="industryAgriculture">Agriculture</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="industryTransportation"
                                                   name="industryTransportation">
                                            <label class="custom-control-label"
                                                   for="industryTransportation">Transportation</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="industryRealEstate"
                                                   name="industryRealEstate">
                                            <label class="custom-control-label"
                                                   for="industryRealEstate">Real Estate</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="other"
                                                   name="other">
                                            <label class="custom-control-label"
                                                   for="other">Other</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--job type-->
                            <div class="card">
                                <div class="card-header" id="jobTypeCollapse">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseJobType" aria-expanded="true"
                                                aria-controls="collapseJobType">
                                            Job Types
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseJobType" class="collapse" aria-labelledby="jobTypeCollapse"
                                     data-parent="#secondarySearch">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="jobTypeFullTime"
                                                   name="jobTypeFullTime">
                                            <label class="custom-control-label" for="jobTypeFullTime">Full-Time</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="jobTypePartTime"
                                                   name="jobTypePartTime">
                                            <label class="custom-control-label" for="jobTypePartTime">Part-Time</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="jobTypeInternship"
                                                   name="jobTypeInternship">
                                            <label class="custom-control-label"
                                                   for="jobTypeInternship">Internship</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--location-->
                            <div class="card">
                                <div class="card-header" id="locationCollapse">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseLocation" aria-expanded="false"
                                                aria-controls="collapseLocation">
                                            Location
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseLocation" class="collapse" aria-labelledby="locationCollapse">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="locationSheffield"
                                                   name="locationSheffield">
                                            <label class="custom-control-label"
                                                   for="locationSheffield">Sheffield</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="locationLondon"
                                                   name="locationLondon">
                                            <label class="custom-control-label" for="locationLondon">London</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="locationManchester"
                                                   name="locationManchester">
                                            <label class="custom-control-label"
                                                   for="locationManchester">Manchester</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="locationOther"
                                                   name="locationOther">
                                            <label class="custom-control-label" for="locationOther">Other</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary btn-lg btn-block">Refine</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--searching result area-->
        <div class="col-sm-8">
            <%
            if(jobResults.length != 0){
            %>
                <% jobResults.forEach(function(job){ %>
                    <div class="card mb-2" id="jobResults">
                        <h5 class="card-header"><a href="#"><%= job.title %></a></h5>
                        <div class="card-body">
                            <h5 class="card-title"><a
                                        href="/companyDetails?companyName=<%= job.companyName %>"><%= job.companyName %></a>
                            </h5>
                            <p class="font-weight-lighter font-italic"><%= job.city %></p>
                            <hr>
                            <p class="card-text d-none d-lg-block"><%= job.description %></p>
                            <p class="card-text"><%= job.salary %></p>
                        </div>
                    </div>
                <% }) %>
            <%
            } else {
            %>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container text-center">
                        <h1 class="display-4">No Related Result! </h1>
                    </div>
                </div>
            <%
            }
            %>
        </div>
    </div>
</div>
</body>
</html>